<div class="wrapper">

    <mon-nx-monorepo-carousel 
        [images]="images" 
        [autoSlide]="true"    
    ></mon-nx-monorepo-carousel>

    <div class="welcome">
        <div  
            [ngClass]="{'scroll': scrolled }" 
            class="welcome-title"
        >
            Vous êtes bien chez McDonald's !
        </div>
    </div>

    <div class="container-contenu1">
        <div class="contenu1-gauche">
            <div 
                class="contenu1-gauche-item1"
                data-aos="flip-left"
                data-aos-easing="ease-out-cubic"  
                data-aos-duration="2000"  
            >
                <img src="https://eu-images.contentstack.com/v3/assets/blt5004e64d3579c43f/blt8f94224a76d3e9fa/611a2c37961af910ebfb9706/image_276.png?auto=webp&width=1280&disable=upscale" alt="image enfant">
                <div class="corp">
                    <div class="titre1">famille</div>

                    <div class="droite">
                        <div class="texte">Vivez McDonald en famille</div>
                        <i class="fa-solid fa-arrow-right-long"></i>
                    </div>
                </div>
            </div>
            <div 
                class="contenu1-gauche-item2"
                data-aos="fade-right"
                data-aos-duration="5000"  
                
            >
                <div class="titre1">
                    Le saviez-vous ?
                </div>
                <div class="texte">
                    Près de 34 000 agriculteurs français nous accompagnent au quotidien
                </div>
            </div>
        </div>

        <div class="contenu1-droit">
            <div 
                class="contenu1-droit-header"
                data-aos="fade-up"
                data-aos-duration="3000"     
            >
                <img src="https://eu-images.contentstack.com/v3/assets/blt5004e64d3579c43f/blt3b60c9c3839ef1bf/611a2c7ccb9e0810fd28e46c/Frame_3209.png?auto=webp&width=1280&disable=upscale" alt="image mcdo plus">
                <div class="elemnt-droite">
                    <div class="petit-titre">
                        app MCDO+
                    </div>
    
                    <div class="texte">
                        Gagner du temps avec le Click & Ready
                    </div>
    
                    <i class="fa-solid fa-arrow-right-long"></i>
                </div>
            </div>
            <div 
                class="contenu1-droit-item1"
                data-aos="fade-up"
                data-aos-duration="3000" 
            >
                <img src="https://eu-images.contentstack.com/v3/assets/blt5004e64d3579c43f/blte74af07a3156036f/61d6b55f7d28862872f7eed0/Pomme_2021_PAS_EXPIRATION_11.jpg?auto=webp&width=1280&disable=upscale" alt="dame">
                <div class="element">
                    <div class="element-gauche">
                        <div class="titre">qualité</div>
                        <div class="texte">
                            Label Rouge, Bio, MSC Pêche durable, ... On vous dit tout sur nos marqueurs qualités
                        </div>
                    </div>
                    <i class="fa-solid fa-arrow-right-long"></i>
                </div>
            </div>
        </div>
    </div>

    <div 
        class="rejoindre_mcdo"
        data-aos="fade-up"
        data-aos-duration="3000"     
    >
        
        <div class="contenu">
            <div class="texte">
                Envie de rejoindre l’aventure McDonald’s ?
            </div>
            <button>Voir les offres d'emploi</button>
        </div>
    </div>

    <div class="container-big-question">
        <div class="gauche">
            <div 
                class="partie1"
                data-aos="fade-up"
                data-aos-duration="3000"     
            >
                <img class="image1" src="https://eu-images.contentstack.com/v3/assets/blt5004e64d3579c43f/blt2809d41301b88fb0/61cc4b44be61b02544279651/HP_ovdt_nuggets.JPG?auto=webp&width=1280&disable=upscale" alt="image">
                <div class="contenu">
                    <div class="titre">Big questions</div>
                    <div class="texte">
                        
                        Les Chicken McNuggets TM, c'est fait avec du vrai poulet

                    </div>
                    <i class="fa-solid fa-arrow-right-long"></i>
                </div>
            </div>
            <img 
                class="image2" 
                src="https://eu-images.contentstack.com/v3/assets/blt5004e64d3579c43f/blt32ae33cfd3500041/61cc47ffad0ea81078426c24/JDD_2020_illustrations_def_couv_burger_COMPRESSED.jpg?auto=webp&width=1280&disable=upscale" alt=""
                data-aos="fade-up"
                data-aos-duration="3000"     
            >
            <div 
                class="developpement_durable"
                data-aos="fade-up"
                data-aos-duration="3000"             
            >
                <div class="titre">developement durable</div>
                <div class="groupe">
                    <div class="texte">
                        Rapport d'impact : nos actions concrètes pour l'alimentation durable
                    </div>
                    <i class="fa-solid fa-arrow-right-long"></i>
                </div>
            </div>
        </div>

        <div class="droite">
            <img 
                class="image1" 
                src="https://eu-images.contentstack.com/v3/assets/blt5004e64d3579c43f/blta88a7e0ac29d2a04/611a3924b5c6960f51fcdffa/Frame_3352.png?auto=webp&width=1280&disable=upscale" alt="image"
                data-aos="fade-up"
                data-aos-duration="3000"     
            >
            <div 
                class="contenu"
                data-aos="fade-up"
                data-aos-duration="3000"     
            >
                <div class="titre">Hello mcdo</div>
                <div class="groupe">
                    <div class="texte">
                        Donnez-nous votre avis sur votre visite
                    </div>
                    <i class="fa-solid fa-arrow-right-long"></i>
                </div>
            </div>
            <div 
                class="le_saviez_vous"
                data-aos="fade-up"
                data-aos-duration="3000" data-aos="fade-up"
                data-aos-duration="3000"     
            >
                <div class="titre">Le saviez-vous ?</div>
                <div class="texte">
                    76% des matières premières utilisées pour nos 5 principales filières** proviennent de France
                </div>
            </div>
        </div>
    </div>

    <div class="envie_de_commander">
        <img src="https://eu-images.contentstack.com/v3/assets/blt5004e64d3579c43f/blt6b54fa137b7a94e1/61cc46937a3e9b2e62d6d3eb/homepage_banniere_full.jpg?auto=webp&width=1280&disable=upscale" alt="">
        <div class="groupe">
            <div class="titre">Envie de commander?</div>
            <button>Trouver un restaurant</button>
        </div>    
    </div>

    <div class="statistique" [ngClass]="{'scroll': scrolled_stat }" >
        <div class="container">
            <div class="titre">- {{emmision_gaz}} %</div>
            <div class="texte">d'emmissions** de gaz à effet de serre par repas servis d'ici 2030 </div>
        </div>
        <div class="container">
            <div class="titre"> {{repaServis}} </div>
            <div class="texte">
                millions de repas**** servis chaque jour
            </div>
        </div>
        <div class="container">
            <div class="titre">7ème</div>
            <div class="texte">
                employeur de France****** avec plus de 75 000 emplois directs
            </div>
        </div>
    </div>

</div>

