<div class="wrapper">

    <mon-nx-monorepo-carousel 
        [images]="images" 
        [autoSlide]="true"    
    ></mon-nx-monorepo-carousel>

    <div class="welcome">
        <div  
            [ngClass]="{'scroll': scrolled }" 
            class="welcome-title"
        >
            Vous êtes bien chez McDonald's !
        </div>
    </div>

    <div class="container-contenu1">
        <div class="contenu1-gauche">
            <div class="contenu1-gauche-item1">
                <img src="https://eu-images.contentstack.com/v3/assets/blt5004e64d3579c43f/blt8f94224a76d3e9fa/611a2c37961af910ebfb9706/image_276.png?auto=webp&width=1280&disable=upscale" alt="image enfant">
                <div class="corp">
                    <div class="titre1">famille</div>

                    <div class="droite">
                        <div class="texte">Vivez McDonald en famille</div>
                        <i class="fa-solid fa-arrow-right-long"></i>
                    </div>
                </div>
            </div>
            <div class="contenu1-gauche-item2">
                <div class="titre1">
                    Le saviez-vous ?
                </div>
                <div class="texte">
                    Près de 34 000 agriculteurs français nous accompagnent au quotidien
                </div>
            </div>
        </div>

        <div class="contenu1-droit">
            <div class="contenu1-droit-header">
                <img src="https://eu-images.contentstack.com/v3/assets/blt5004e64d3579c43f/blt3b60c9c3839ef1bf/611a2c7ccb9e0810fd28e46c/Frame_3209.png?auto=webp&width=1280&disable=upscale" alt="image mcdo plus">
                <div class="elemnt-droite">
                    <div class="petit-titre">
                        app MCDO+
                    </div>
    
                    <div class="texte">
                        Gagner du temps avec le Click & Ready
                    </div>
    
                    <i class="fa-solid fa-arrow-right-long"></i>
                </div>
            </div>
            <div class="contenu1-droit-item1">
                <img src="https://eu-images.contentstack.com/v3/assets/blt5004e64d3579c43f/blte74af07a3156036f/61d6b55f7d28862872f7eed0/Pomme_2021_PAS_EXPIRATION_11.jpg?auto=webp&width=1280&disable=upscale" alt="dame">
                <div class="element">
                    <div class="element-gauche">
                        <div class="titre">qualité</div>
                        <div class="texte">
                            Label Rouge, Bio, MSC Pêche durable, ... On vous dit tout sur nos marqueurs qualités
                        </div>
                    </div>
                    <i class="fa-solid fa-arrow-right-long"></i>
                </div>
            </div>
        </div>
    </div>

</div>

