<div class="table">
    <thead>
        <tr>
            <th>No</th>
            <th>Name</th>
            <th>address</th>
            <th>city</th>
            <th>country</th>
            <th></th>

        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let customer of customers">
            <td> {{customer.customerNo}} </td>
            <td> {{customer.name}} </td>
            <td> {{customer.address}} </td>
            <td> {{customer.city}} </td>
            <td> {{customer.country}} </td>
            <td>
                <Button 
                    type="button"
                    (click)="selectedCustomer = customer"
                    >
                    Selectionner
                </Button>
            </td>
        </tr>
    </tbody>
</div>