.container{
    padding: 2rem;

    .list{
        padding: 1rem;
        display: block;
        background: #fff;
        margin-bottom: 10px;
    }

    button{
        border: none;
        margin-bottom: 20px;
        margin-right: 20px;
        padding: 10px;
        background: blueviolet;
        color: #fff;
    }

}


.fade{
    background: rgb(129, 101, 124);
    margin: 20px;
    padding: 20px;
}


.groupe-text{
    width: 33%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 0;
    color: rgb(90, 114, 98);

    .col{
        background: rgb(39, 135, 93);
        color: white;
        padding: 20px;
    }
    

}