.groupe-be{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .parce_que{
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 50px;

        .paragraphe {
            p{
                text-align: center;
            }
        }

        p{
            font-size: 25px;
            font-weight: bold;
            margin: 10px;
        }

        .on_vous_explique{
            margin-top: 30px;
            font-weight: bold;
            font-size: 3.9rem;
        }
    }

    .question-reponse{
        display: flex;
        gap: 20px;
        .meme{
            border-radius: 15px;
            width: 480px;
            height: 630px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 50px;
            gap: 50px;
            cursor: pointer;

            .titre{
                font-weight: bold;
                font-size: 40px;
                line-height: 50px;
            }

            .plus {
                i {
                    font-size: 30px;
                    border: 1px solid black;
                    padding: 10px;
                    border-radius: 50%;
                }
            }

        }
        
        .gauche {
            background: #ffbc0d;
            
        }

        .droite{
            background: #264f36;
            color: white;
            .plus {
                i{
                    border-color: white!important;
                }
            }
        }

        .gauche.meme.reponse {
            .titre {
                font-size: 20px;
                font-weight: normal;
                line-height: 20px;
            }
            .contenu{
                font-weight: bold;
                font-size: 25px;
            }
        }
        .droite.meme.reponse {
            .titre {
                font-size: 20px;
                font-weight: normal;
                line-height: 20px;
            }
            .contenu{
                font-weight: bold;
                font-size: 25px;
            }
            .lien{
                p{
                    text-align: right;
                }
            }
            
        }
    }

    .question-reponse.deuxieme{
        margin-top: 50px;

        .gauche {
            background: #2d7b9f;
            color: white;

            .plus{
                i{
                    border-color: white;
                }
            }
        }

        .droite{
            background: #8f3a7e;
        }
    }


    .comment-on-invente{

        margin-top: 70px;
        width: 980px;
        height: 630px;
        background: #292929;
        border-radius: 20px;

        .pareil {
            display: flex;
            align-items: center;
            justify-content: space-between;  
            flex-direction: column;
            cursor: pointer;
            
            .groupe {
                display: flex;
                align-items: center;
                justify-content: space-around;
                padding: 100px 100px;
                gap: 50px;

                .titre {
                    color: white;
                    font-size: 50px;
                    font-weight: bold;
                    line-height: 60px;
                }

            }

            
            .plus{
                
                i{
                    font-size: 30px;
                    border: 1px solid black;
                    padding: 10px;
                    border-radius: 50%;
                    background: white;

                    &:hover{
                        background: #292929;
                    }
                }
            }


        }

        .reponse {
            

            .groupe{

                padding: 50px 50px;
                justify-content: flex-start;
                align-items: flex-start;
                flex-direction: column;
                .titre{
                    font-size: 17px;
                    font-weight: normal;
                }
                
                .contenu {
                    font-size: 25px;
                    justify-content: baseline;
                    color: white;
                    font-weight: bold;
                    line-height: 30px;
                }

                p{
                    color: white;
                }
            }
        }


    }


}