<div class="groupe">
    <div class="gauche">
        <div class="item">
            Nos Menu
        </div>
        <div class="item">
            Nos Salades du jour
        </div>
        <div class="item">
            Petite faim
        </div>
        <div class="item">
            Nos boissons
        </div>
        <div class="item">
            Nos Desserts
        </div>
        <div class="item">
            Nos Frites & Sauces
        </div>
        <div class="item">
            Nos Grandes Salades
        </div>
        <div class="item">
            L'Offre McCafé
        </div>
    </div>

    <div class="droite" >
       <div class="listeItems" *ngFor="let listeMenu of listeMenus">
            <div class="titre"> {{ listeMenu.nom_list}} </div>
                <div class="texte">
                    {{ listeMenu.detail}}
                </div>
            <div class="groupe-menu">
                <div class="card-menu" *ngFor="let liste_item of listeMenu.liste_items ">
                    <div class="image">
                        <img [src]="liste_item.image">
                    </div>
                    <div class="titre" [innerHTML]="liste_item.titre" >
                        
                    </div>
                </div>
            </div>
            <div class="groupe-image-card" *ngIf="listeMenu.image">
                <div class="image">
                    <img [src]="listeMenu.image" alt="image">
                </div>
                <div class="card-moi">
                    <div class="titre-1">
                            {{listeMenu.titre1}}
                    </div>
                    <button class="button">
                        {{ listeMenu.titreBouton }}
                    </button>
                </div>
            </div>
       </div>
    </div>

</div>