<div class="groupe">
    <div class="gauche">
        <div class="item">
            Nos Menu
        </div>
        <div class="item">
            Nos Salades du jour
        </div>
        <div class="item">
            Petite faim
        </div>
        <div class="item">
            Nos boissons
        </div>
        <div class="item">
            Nos Desserts
        </div>
        <div class="item">
            Nos Frites & Sauces
        </div>
        <div class="item">
            Nos Grandes Salades
        </div>
        <div class="item">
            L'Offre McCafé
        </div>
    </div>

    <div class="droite">
        <div class="titre">Nos Menus</div>
        <div class="texte">
            Pour toutes les faims, tous les goûts, tous les âges et tous les budgets, découvrez les menus McDonald’s ! Plutôt menu burger ou menu salade ? Ou peut-être souhaitez-vous prendre un bon petit-déjeuner avec l’offre P’tit dej’ ? Les enfants ne sont pas oubliés : le menu enfant Happy Meal™ inclut un dessert fruité ainsi qu’un jouet ou un livre. 
        </div>
    </div>

</div>