<div class="groupe">
    <div class="gauche">

        <div class="titre-kely" *ngIf="lien">
            > {{ lien.split('-').join(' ') }}
        </div>
        <div 
            class="item"
            [routerLinkActive]="'active'"
            [routerLinkActiveOptions]="{ exact: true}"
            routerLink=""
            (click)="goToItem('nos-menus')"
            [ngClass]=" lien==='nos-menus' ? 'activer' : '' "
            monNxMonorepoScroll [valeurScrollYMin]="0" [valeurScrollYMax]="792"
            >
            Nos Menu
        </div>
        <div 
            class="item"
            [routerLinkActive]="'active'"
            [routerLinkActiveOptions]="{ exact: true}"
            routerLink=""
            (click)="goToItem('nos-burgers')"
            [ngClass]=" lien==='nos-burgers' ? 'activer' : '' "
            monNxMonorepoScroll [valeurScrollYMin]="792" [valeurScrollYMax]="2851"
            >
            Nos Burgers
        </div>
        <div 
            class="item"
            [routerLinkActive]="'active'"
            [routerLinkActiveOptions]="{ exact: true}"
            routerLink=""
            (click)='goToItem("nos-salades-du-jour")'
            [ngClass]=" lien==='nos-salades-du-jour' ? 'activer' : '' "
            monNxMonorepoScroll [valeurScrollYMin]="2851" [valeurScrollYMax]="3909"
            >
            Nos Salades du jour
        </div>
        <div 
            class="item"
            class="item"
            [routerLinkActive]="'active'"
            [routerLinkActiveOptions]="{ exact: true}"
            routerLink=""
            (click)="goToItem('petite-faim')"
            [ngClass]=" lien==='petite-faim' ? 'activer' : '' "
            monNxMonorepoScroll [valeurScrollYMin]="3909" [valeurScrollYMax]="5281"
            >
            Petite faim
        </div>
        <div 
            class="item"
            [routerLinkActive]="'active'"
            [routerLinkActiveOptions]="{ exact: true}"
            routerLink=""
            (click)="goToItem('nos-boissons')"
            [ngClass]=" lien==='nos-boissons' ? 'activer' : '' "
            monNxMonorepoScroll [valeurScrollYMin]="5281" [valeurScrollYMax]="6666"
            >
            Nos boissons
        </div>
        <div 
            class="item"
            [routerLinkActive]="'active'"
            [routerLinkActiveOptions]="{ exact: true}"
            routerLink=""
            (click)="goToItem('nos-desserts')"
            [ngClass]=" lien==='nos-desserts' ? 'activer' : '' "
            monNxMonorepoScroll [valeurScrollYMin]="6666" [valeurScrollYMax]="7595"
            >
            Nos Desserts
        </div>
        <div 
            class="item"
            class="item"
            [routerLinkActive]="'active'"
            [routerLinkActiveOptions]="{ exact: true}"
            routerLink=""
            (click)='goToItem("nos-frites-&-sauces")'
            [ngClass]=" lien==='nos-frites-&-sauces' ? 'activer' : '' "
            >
            Nos Frites & Sauces
        </div>
        <div 
            class="item"
            class="item"
            [routerLinkActive]="'active'"
            [routerLinkActiveOptions]="{ exact: true}"
            routerLink=""
            (click)='goToItem("nos-grandes-salades")'
            [ngClass]=" lien==='nos-grandes-salades' ? 'activer' : '' "
            monNxMonorepoScroll [valeurScrollYMin]="7595" [valeurScrollYMax]="9000"
            >
            Nos Grandes Salades
        </div>
        <div 
            class="item"
            class="item"
            [routerLinkActive]="'active'"
            [routerLinkActiveOptions]="{ exact: true}"
            routerLink=""
            fragment="l-offre-mccafe"
            (click)='goToItem("l-offre-mccafé")'
            [ngClass]=" lien==='l-offre-mccafé' ? 'activer' : '' "
            monNxMonorepoScroll [valeurScrollYMin]="9000" [valeurScrollYMax]="10599"
            
            >
            L'Offre McCafé
        </div>
    </div>

    <div class="droite" >
       <div 
            class="listeItems" 
            *ngFor="let listeMenu of listeMenus"
            [id]="listeMenu.nom_list.split(' ').join('-').toLowerCase()"
            >
            <div class="titre"> {{ listeMenu.nom_list}} </div>
                <div class="texte">
                    {{ listeMenu.detail}}
                </div>
            <div class="groupe-menu">
                <div class="card-menu" *ngFor="let liste_item of listeMenu.liste_items ">
                    <div class="image">
                        <img [src]="liste_item.image">
                    </div>
                    <div class="titre" [innerHTML]="liste_item.titre" >
                        
                    </div>
                </div>
            </div>
            <div class="groupe-image-card" *ngIf="listeMenu.image">
                <div class="image">
                    <img [src]="listeMenu.image" alt="image">
                </div>
                <div class="card-moi">
                    <div class="titre-1">
                            {{listeMenu.titre1}}
                    </div>
                    <button class="button">
                        {{ listeMenu.titreBouton }}
                    </button>
                </div>
            </div>
       </div>
    </div>

</div>