<div class="groupe">
    <div class="gauche">
        <div class="titre">Inscription</div>
        <div class="groupe">
            <span class="point"></span>
            <div class="sous-titre">Mes informations</div>
        </div>
        <div class="ligne"></div>
        <div class="groupe">
            <span class="point"></span>
            <div class="sous-titre">Mon restaurant</div>
        </div>
        <div class="ligne"></div>
        <div class="groupe">
            <span class="point"></span>
            <div class="sous-titre">Confirmation</div>
        </div>
    </div>

    <div class="droite">
        <div class="titre">Mes informations</div>
        <p class="texte">Complétez vos informations personnelles pour créer votre compte. Tous les champs sont obligatoires.</p>
        <div class="control">
            <input type="text" name="firstname" placeholder="prenom*">
        </div>
        <div class="control">
            <input type="text" name="email" placeholder="email*">
        </div>
        <div class="control">
            <input type="text" name="password" placeholder="mot de passe*">
        </div>
        <p>J'accepte de recevoir des offres et actualités par e-mail de la part de McDonald's :</p>
        <div class="groupe1">
            <div class="item">
                <input type="radio" name="oui" id="oui">
                <label for="oui">oui</label>
            </div>
            <div class="item">
                <input type="radio" name="non" id="non">
                <label for="non">non</label>
            </div>
        </div>
        <div class="groupe2">
            <input type="checkbox" name="certifie" id="certifie">
            <label for="certifie">Je certifie avoir plus de 15 ans.</label>
        </div>
        <div class="groupe2">
            <input type="checkbox" name="certifie" id="certifie">
            <label for="certifie">J’ai lu et compris la politique de protection des données personnelles de McDonald’s.</label>
        </div>

        <button>Valider mon inscription</button>

        <div class="vous_avez">
            <div class="texte">
                <a href="">Vous avez déjà un compte ? </a>
            </div>
            <i class="fa-solid fa-angle-right"></i>
        </div>

        <div class="vos_donnees">
            <p>
                Vos données personnelles sont collectées et traitées par McDonald’s France Services, en tant que responsable de traitement, aux fins de gestion de la relation client, y compris à des fins de prospection, afin de vous fournir les services demandés et de répondre à vos demandes, dans le respect de la règlementation applicable, notamment le Règlement sur la Protection des Données et la Loi informatique et libertés.
            </p>

            <p>
                Ces données sont destinées à la société McDonald’s France Services, à votre Restaurant favori et aux prestataires de services en charge de la gestion des outils digitaux de McDonald’s et de la gestion des commandes en ligne et de la livraison.
            </p>

            <p>
                Vous disposez d’un droit d'accès, de rectification et d’effacement de vos données personnelles, d’un droit à la portabilité de vos données, du droit de vous opposer à leur traitement ou d’en obtenir la limitation, ainsi que du droit de définir des directives dans le cadre de votre héritage numérique, que vous pouvez exercer en cliquant ici.
            </p>

            <p>
                Vous pouvez consulter notre politique de protection des données personnelles
            </p>
        </div>

    </div>

</div>