<div class="groupe-be">

    <div class="engagement_toujours meme">
        <div class="image">
            <img src="https://eu-images.contentstack.com/v3/assets/blt5004e64d3579c43f/blt8737e265d57407c4/61b365afe444ba6858e5bcb4/photo_restaurant.png?auto=webp&width=1280&disable=upscale" alt="im">
        </div>
        <div class="groupe-texte">
            <div class="titre">
                L'engagement toujours au menu
            </div>
            <div class="contenu">
                Oui mais concrètement ?
                L’environnement, le social, l’origine des produits… On sait que pour vous, ça compte beaucoup aussi. Alors pour tout savoir de nos actions, découvrez ici comment McDonald’s France s’engage au quotidien pour une alimentation durable et un impact plus positif.
            </div>

        </div>
        
    </div>
    <div class="bouton">
        <i class="fa-solid fa-angle-right"></i>
    </div>  

    <div class="groupe-vous-ete-ici meme">
        <div class="gauche">
            <div class="titre">
                Vous êtes ici?
            </div>
            <div class="texte">
                Ça tombe bien, la majorité de nos produits aussi.
                Saviez-vous que nous travaillons avec près de 34 000 agriculteurs français¹, pour l’approvisionnement de nos 5 filières principales ? Certains d’entre eux sont sous contrat avec l'enseigne : ils perçoivent ainsi des revenus réguliers et peuvent développer des pratiques agricoles plus durables et respectueuses du bien-être animal.
            </div>
        </div>
        <div class="droite">
            <div class="image">
                <img src="https://eu-images.contentstack.com/v3/assets/blt5004e64d3579c43f/blte2c3f12344cb95d1/61e14f58fff0a304a1f46229/engagement_vous_etes_ici_2.gif?auto=webp&width=1280&disable=upscale" alt="img">
            </div>
        </div>
    </div>

    <div class="groupe-part-belle meme">
        <div class="gauche">
            <div class="titre">
                LA PART BELLE AUX LABELS !
            </div>
            <div class="texte">
                Notre ingrédient secret ? La qualité.
                Notre carte s’améliore et se diversifie chaque jour avec toujours plus de labels, à la carte de nos 1 500 restaurants. Agriculture Biologique, Label Rouge, Vergers éco-responsables, MSC Pêche Durable… En tout, 10 marqueurs qualité.
            </div>
        </div>  
        <div class="droite">
            <div class="groupe-kely">
                <div class="image">
                    <img src="https://eu-images.contentstack.com/v3/assets/blt5004e64d3579c43f/bltb2bf969329e9ec33/618ab2f0d1e4d51ef413a7d8/A_PRENDRE_POUR_STEACK.png?auto=webp&width=1280&disable=upscale" alt="image">
                </div>
            </div>
            <div class="groupe-kely">
                <div class="image">
                    <img src="https://eu-images.contentstack.com/v3/assets/blt5004e64d3579c43f/bltc437c321de89dc2e/618ab2fad312070fd542b766/A_PRENDRE_POUR_PDT.png?auto=webp&width=1280&disable=upscale" alt="image">
                </div>
            </div>
            <div class="groupe-kely">
                <div class="image">
                    <img src="https://eu-images.contentstack.com/v3/assets/blt5004e64d3579c43f/bltb30089936e86efb7/618ab3042b66dd0feccb8d18/A_PRENDRE_POUR_BLE.png?auto=webp&width=1280&disable=upscale" alt="image">
                </div>
            </div>
        </div>
    </div>


    <div class="groupe-lu-et-approuvee">
        <div class="gauche">
            <div class="titre">
                LU & APPROUVÉ PAR LES FAMILLES
            </div>
            <div class="texte">
                En 2021, les jouets en plastique ont été supprimés du Happy Meal.²
                Le goût de la lecture et surtout l’envie de partager de belles histoires sont devenus notre priorité. C’est pourquoi avec les menus Happy Meal™, votre enfant peut désormais choisir entre un livre ou un jeu créatif, composé de matériaux d'origine renouvelable.
            </div>
        </div>  
        <div class="droite">
            <div class="groupe-kely">
                <div class="image">
                    <img src="https://eu-images.contentstack.com/v3/assets/blt5004e64d3579c43f/blte8ec681b2f4e845e/617968edaffc4c0f888d64f0/enfantslivre.png?auto=webp&width=1280&disable=upscale" alt="image">
                    <div class="texte">
                        <p><strong>+ 80 millions</strong></p>
                        <p>de livres distribués<sup>3</sup></p>
                        <p>Déjà <strong>88 histoires</strong></p>
                        <p>publiées</p>
                    </div>
                </div>
            </div>
        </div>

    </div>    
    <div class="groupe-on-en-fait-plus">
        <div class="gauche">
            <div class="titre">
                ON EN FAIT PLUS, POUR EN FAIRE TOUJOURS MOINS SUR NOTRE EMPREINTE ENVIRONNEMENTALE
            </div>
            <div class="texte">
                Et ça fait 25 ans que ça dure, avec des actions concrètes à chaque étape, du champ au restaurant. Développement d’une stratégie agro-écologique, tri sélectif, recyclage des déchets, suppression progressive du plastique à usage unique, réduction des consommations d’énergie… Objectifs : zéro carbone, zéro déchet, zéro plastique, zéro diesel.
            </div>
        </div>  

    </div>
    
    <div class="groupe-image-agro">
        <div class="groupe-gauche">
            <img src="https://eu-images.contentstack.com/v3/assets/blt5004e64d3579c43f/blt343e2266b1efca91/61dca443a56b215b6c002a47/Frame_4920.png?auto=webp&width=1280&disable=upscale" alt="image">
            <img src="https://eu-images.contentstack.com/v3/assets/blt5004e64d3579c43f/blt65301a2b7e0a73ac/61dca45f6efba35da83e48b7/Frame_4921.png?auto=webp&width=1280&disable=upscale" alt="image">
        </div>

        <div class="groupe-droite">
            <img src="https://eu-images.contentstack.com/v3/assets/blt5004e64d3579c43f/blt0d57d7c9831e1a5a/61dca4642e34a35b722e65d9/eco-circulaire.gif?auto=webp&width=1280&disable=upscale" alt="image">
        </div>
    </div>

    <div class="groupe-on-arrete-pas-d-avancer">
        <div class="image">
            <img src="https://eu-images.contentstack.com/v3/assets/blt5004e64d3579c43f/bltd9118755441263fc/61d5b1bb8445252e5ba4298f/conclu_engagements_compressed.jpg?auto=webp&width=1280&disable=upscale" alt="hlskjf">
            <div class="texte">
                <div class="titre">
                    ON N'ARRÊTE PAS D'AVANCER DEPUIS 1979 DÉJÀ
                </div>
                <div class="contenu">
                    Oui, depuis l’ouverture de notre premier restaurant en France, vous êtes sûrs de retrouver chez nous le goût inimitable de nos recettes. Et vous êtes sûrs, aussi, de retrouver nos engagements continus pour des produits français de qualité, la préservation de l’environnement, l’accès à la lecture et bien d’autres… C’est à vous que nous devons toutes nos ambitions.
                </div>
            </div>
        </div>

    </div>

    <div class="et-on-est-pas-prete">
        <div class="titre">
            Et on n'est pas prêt de s'arrêter ! Avec des engagements environnementaux concrets
        </div>
        <div class="contenu">
            L’alimentation durable est notre enjeu majeur et nous avons conscience de notre rôle moteur dans ce domaine. Une mission longue et complexe, à laquelle nous nous attelons chaque jour.
        </div>
        <div class="groupe-kely">
            <div class="date">
                <div>2023</div>
                <span></span>
                <div>2025</div>
                <span></span>
                <div class="farany">2030</div>
            </div>
            <div class="texte">
                <div>
                    <strong>100%</strong>  de nos emballages à usage unique en salle seront conçus en matériaux réutilisables
                </div>
                <div>
                    Objectif zéro diesel pour <strong>100%</strong>  de nos camions de livraison
                </div>
                <div class="farany">
                    Notre objectif est de réduire de <strong>35% </strong> nos émissions directes et indirectes de gaz à effet de serre par transaction en 2030 par rapport à 2005.
                </div>

            </div>
        </div>
    </div>

</div>
