<header class="main-header">

    <div class="main-header-inner">

        <div class="main-header-content">

            <nav class="main-header-nav">

                <a class="main-header-logo">
                    <svg role="img" aria-hidden="true" width="44" height="44" viewBox="0 0 44 44" fill="none" xmlns="http://www.w3.org/2000/svg" class=""><path d="M3.81127 44C3.81127 44 0 44 0 40.1887V3.81127C0 3.81127 0 0 3.81127 0H40.1887C40.1887 0 44 0 44 3.81127V40.1887C44 40.1887 44 44 40.1887 44H3.81127Z" fill="#264F36"></path><path d="M28.2998 11.5863C30.6451 11.5863 32.5446 21.4521 32.5446 33.6244H35.9366C35.9172 20.5217 32.5058 9.90002 28.2998 9.90002C25.8963 9.90002 23.7642 13.0982 22.3687 18.0795C20.9537 13.0982 18.8216 9.90002 16.4182 9.90002C12.2121 9.90002 8.80078 20.5217 8.80078 33.6244H12.1928C12.1928 21.4521 14.0923 11.5863 16.4376 11.5863C18.7829 11.5863 20.6824 20.6962 20.6824 31.9188H24.0743C24.055 20.6962 25.9545 11.5863 28.2998 11.5863Z" fill="#FFBC0D"></path></svg>
                </a>

                <ul class="main-header-nav-list">
                    <li class="main-header-nav-item">
                        <span class="main-header-nav-link-inner-text">
                            <span>
                                Nos engagements
                            </span>
                        </span>
                        <span class="main-header-nav-link-icon">
                            <svg role="img" aria-hidden="true" width="11" height="18" viewBox="0 0 11 18" fill="none" xmlns="http://www.w3.org/2000/svg" class=""><path d="M0.831122 15.779C0.419663 16.1905 0.419663 16.8576 0.831121 17.2691L1.44267 17.8806L10.3828 8.94047L9.02625 7.58391L0.831122 15.779Z" fill="currentColor"></path><path d="M9.02613 10.2967L10.3828 8.94047L1.44255 -4.42598e-05L0.831002 0.611509C0.419543 1.02297 0.419544 1.69007 0.831002 2.10153L9.02613 10.2967Z" fill="currentColor"></path></svg>
                        </span>
                    </li>

                    <li class="main-header-nav-item">
                        <span class="main-header-nav-link-inner-text">
                            <span>
                                Les Big Questions
                            </span>
                        </span>
                       
                    </li>

                    <li class="main-header-nav-item">
                        <span class="main-header-nav-link-inner-text">
                            <span>
                                En famille
                            </span>
                        </span>
                       
                    </li>

                    <li class="main-header-nav-item">
                        <span class="main-header-nav-link-inner-text">
                            <span>
                                Nos Produits
                            </span>

                            

                        </span>
                       
                    </li>

                    <li class="main-header-nav-item">
                        <span class="main-header-nav-link-inner-text">
                            <span>
                                Nos Actualités
                            </span>
                        </span>
                       
                    </li>

                </ul>

                <div class="group-icons">
                    <div class="icon-recherche">
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </div>
                    <div class="icon-location">
                        <i class="fa-solid fa-location-dot"></i>
                    </div>


                </div>

                <div class="bouton">

                    <button class="bouton-seconnecter">Se connecter</button>
                    
                        
                    <button class="bouton-commander">
                        <svg role="img" aria-hidden="true" width="20" height="20" viewBox="0 0 44 44" fill="none" xmlns="http://www.w3.org/2000/svg" class=""><path d="M3.81127 44C3.81127 44 0 44 0 40.1887V3.81127C0 3.81127 0 0 3.81127 0H40.1887C40.1887 0 44 0 44 3.81127V40.1887C44 40.1887 44 44 40.1887 44H3.81127Z" fill="#264F36"></path><path d="M28.2998 11.5863C30.6451 11.5863 32.5446 21.4521 32.5446 33.6244H35.9366C35.9172 20.5217 32.5058 9.90002 28.2998 9.90002C25.8963 9.90002 23.7642 13.0982 22.3687 18.0795C20.9537 13.0982 18.8216 9.90002 16.4182 9.90002C12.2121 9.90002 8.80078 20.5217 8.80078 33.6244H12.1928C12.1928 21.4521 14.0923 11.5863 16.4376 11.5863C18.7829 11.5863 20.6824 20.6962 20.6824 31.9188H24.0743C24.055 20.6962 25.9545 11.5863 28.2998 11.5863Z" fill="#FFBC0D"></path></svg>
                        Commander
                    </button>


                </div>

            </nav>
        </div>

    </div>
</header>