<header class="main-header">


    <nav class="main-header-nav">

        <a class="main-header-logo" routerLink="/" >
            <svg role="img" aria-hidden="true" width="44" height="44" viewBox="0 0 44 44" fill="none" xmlns="http://www.w3.org/2000/svg" class=""><path d="M3.81127 44C3.81127 44 0 44 0 40.1887V3.81127C0 3.81127 0 0 3.81127 0H40.1887C40.1887 0 44 0 44 3.81127V40.1887C44 40.1887 44 44 40.1887 44H3.81127Z" fill="#264F36"></path><path d="M28.2998 11.5863C30.6451 11.5863 32.5446 21.4521 32.5446 33.6244H35.9366C35.9172 20.5217 32.5058 9.90002 28.2998 9.90002C25.8963 9.90002 23.7642 13.0982 22.3687 18.0795C20.9537 13.0982 18.8216 9.90002 16.4182 9.90002C12.2121 9.90002 8.80078 20.5217 8.80078 33.6244H12.1928C12.1928 21.4521 14.0923 11.5863 16.4376 11.5863C18.7829 11.5863 20.6824 20.6962 20.6824 31.9188H24.0743C24.055 20.6962 25.9545 11.5863 28.2998 11.5863Z" fill="#FFBC0D"></path></svg>
        </a>

        <ul class="main-header-nav-list">
            <li class="main-header-nav-item">
                <span class="dropdown"> Nos engagements</span>
                <div class="sub_menu sub_1">
                    <div class="sub_menu_item">
                        <img src="https://eu-images.contentstack.com/v3/assets/blt5004e64d3579c43f/bltc7275f2e535c618f/61d2db6ea2f30629e20b9b5b/1_PDT_drone_2021_08.2024_8_SLIDER-HP-Navlight.jpg?auto=webp&width=432&disable=upscale" alt="">
                        <p>Du champ au restaurant</p>
                    </div>
                    <div class="sub_menu_item">
                        <img src="https://eu-images.contentstack.com/v3/assets/blt5004e64d3579c43f/blt0c24f874e1b99410/61af87ba4504fe685ad005b8/header.png?auto=webp&width=432&disable=upscale" alt="">
                        <p>Aux côtés des agriculteurs</p>
                    </div>
                    <div class="sub_menu_item">
                        <img src="https://eu-images.contentstack.com/v3/assets/blt5004e64d3579c43f/blte74af07a3156036f/61d6b55f7d28862872f7eed0/Pomme_2021_PAS_EXPIRATION_11.jpg?auto=webp&width=432&disable=upscale" alt="">
                        <p>Notre exigence qualité</p>
                    </div>
                    <div class="sub_menu_item">
                        <img src="https://eu-images.contentstack.com/v3/assets/blt5004e64d3579c43f/bltb18055e8753c2c87/618c05607e83e7102bc7e2f3/MCD_62364_1.png?auto=webp&width=432&disable=upscale" alt="">
                        <p>Nos actions environementale</p>
                    </div>
                    <div class="sub_menu_item">
                        <img src="https://eu-images.contentstack.com/v3/assets/blt5004e64d3579c43f/blta6c06bb8ad080e37/61e1a543f26d4c3b491313f1/equipier_mcdo_pour_nav-resized.jpg?auto=webp&width=432&disable=upscale" alt="">
                        <p>Aux coeurs de nos territoires</p>
                    </div>

                </div>
            </li>

            <li class="main-header-nav-item">
                <span class="main-header-nav-link-inner-text">
                    <span [routerLink]="['/les-big-questions']" routerLinkActive="router-link-active" >
                        Les Big Questions
                    </span>
                </span>
                
            </li>

            <li class="main-header-nav-item">
                <span class="main-header-nav-link-inner-text">
                    <span [routerLink]="['/en-famille']" routerLinkActive="router-link-active" >
                        En famille
                    </span>
                </span>
                
            </li>

            <li class="main-header-nav-item">
                
                <span class="dropbtn">Nos Produits</span>
                <div class="sub_menu">
                    <div class="sub_menu_item">
                        <img src="https://eu-images.contentstack.com/v3/assets/blt5004e64d3579c43f/blt552f0f8278bf324f/6077ee727d99e6231800b54d/menu_best_of.png?auto=webp&width=432&disable=upscale" alt="">
                        <p>Nos Menus</p>
                    </div>
                    <div class="sub_menu_item">
                        <img src="https://eu-images.contentstack.com/v3/assets/blt5004e64d3579c43f/blt4baa1a1646627e6b/60c71a31cf8ece36668cfb41/2154.jpg?auto=webp&width=432&disable=upscale" alt="">
                        <p>Nos Hamburgers</p>
                    </div>
                    <div class="sub_menu_item">
                        <img src="https://eu-images.contentstack.com/v3/assets/blt5004e64d3579c43f/blt124a858dbf3995c4/61e6d9025febcd38cb227227/categorie_salade_du_jour.png?auto=webp&width=432&disable=upscale" alt="">
                        <p>Nos Salade du jour</p>
                    </div>
                    <div class="sub_menu_item">
                        <img src="https://eu-images.contentstack.com/v3/assets/blt5004e64d3579c43f/blta0ad0b7e24d00c08/61e6e434447ae23dde6eeb12/Image6.jpg?auto=webp&width=432&disable=upscale" alt="">
                        <p>Petits Faims</p>
                    </div>
                    <div class="sub_menu_item">
                        <img src="https://eu-images.contentstack.com/v3/assets/blt5004e64d3579c43f/blt019bb14928f34aed/61e6d81264fa050499c4dceb/CATEGORIE_NOS_BOISSONS.jpg?auto=webp&width=432&disable=upscale" alt="">
                        <p>Nos Boissons</p>
                    </div>
                    <div class="sub_menu_item">
                        <img src="https://eu-images.contentstack.com/v3/assets/blt5004e64d3579c43f/blt56a589a94f785d6b/61e6d824a2f7fd3acf85c8a4/CATEGORIE_NOS_DESSERTS.jpg?auto=webp&width=432&disable=upscale" alt="">
                        <p>Nos Desserts</p>
                    </div>
                    <div class="sub_menu_item">
                        <img src="https://eu-images.contentstack.com/v3/assets/blt5004e64d3579c43f/bltd5117fe7543ff530/61e6d83b20b6ab3dd83fde5a/CATEGORIE_FRITES_ET_SAUCES.jpg?auto=webp&width=432&disable=upscale" alt="">
                        <p>Nos Frites & Sauces</p>
                    </div>
                    <div class="sub_menu_item">
                        <img src="https://eu-images.contentstack.com/v3/assets/blt5004e64d3579c43f/blta63c58928288d755/61e6e480aecfe23f387167ec/Image7.jpg?auto=webp&width=432&disable=upscale" alt="">
                        <p>Nos Grandes Salades</p>
                    </div>
                    <div class="sub_menu_item">
                        <img src="https://eu-images.contentstack.com/v3/assets/blt5004e64d3579c43f/blt8dac28cc3113b06a/61e6e38a895d725e63670cf8/Image3.png?auto=webp&width=432&disable=upscale" alt="">
                        <p>L'Offre McCafé</p>
                    </div>
                </div>
                
            </li>

            <li class="main-header-nav-item">
                <span class="main-header-nav-link-inner-text">
                    <span [routerLink]="['/nos-actualites']" routerLinkActive="router-link-active" >
                        Nos Actualités
                    </span>
                </span>
                
            </li>

        </ul>

        <div class="group-icons">
            <div class="icon-recherche">
                <i class="fa-solid fa-magnifying-glass"></i>
            </div>
            <div class="icon-location">
                <i class="fa-solid fa-location-dot"></i>
            </div>


        </div>

        <div class="bouton">

            <button class="bouton-seconnecter">Se connecter</button>
            
                
            <button class="bouton-commander">
                <svg role="img" aria-hidden="true" width="20" height="20" viewBox="0 0 44 44" fill="none" xmlns="http://www.w3.org/2000/svg" class=""><path d="M3.81127 44C3.81127 44 0 44 0 40.1887V3.81127C0 3.81127 0 0 3.81127 0H40.1887C40.1887 0 44 0 44 3.81127V40.1887C44 40.1887 44 44 40.1887 44H3.81127Z" fill="#264F36"></path><path d="M28.2998 11.5863C30.6451 11.5863 32.5446 21.4521 32.5446 33.6244H35.9366C35.9172 20.5217 32.5058 9.90002 28.2998 9.90002C25.8963 9.90002 23.7642 13.0982 22.3687 18.0795C20.9537 13.0982 18.8216 9.90002 16.4182 9.90002C12.2121 9.90002 8.80078 20.5217 8.80078 33.6244H12.1928C12.1928 21.4521 14.0923 11.5863 16.4376 11.5863C18.7829 11.5863 20.6824 20.6962 20.6824 31.9188H24.0743C24.055 20.6962 25.9545 11.5863 28.2998 11.5863Z" fill="#FFBC0D"></path></svg>
                Commander
            </button>


        </div>

    </nav>



</header>