<div class="groupe-be">

    <div class="titre">Bienvenue aux familles</div>
    <div class="image-debut">
        <img class="fade-in" src="https://eu-images.contentstack.com/v3/assets/blt5004e64d3579c43f/blt22b20d273f1c381d/61a4f95b022ece664486528d/bienvenue_aux_familles.png?auto=webp&width=1280&disable=upscale&dpr=2" alt="">
    </div>

    <div class="groupe-titre">
        <div class="titre">Bienvenue aux familles</div>
        <div class="texte">
            Nous portons un soin particulier à toutes les familles qui viennent dans nos restaurants avec des surprises et des nouveautés tout au long de l’année.
        </div>
    </div>

    <div class="groupe-happy-meal">
        <div class="image" 
            >
            
            <img 
                src="https://eu-images.contentstack.com/v3/assets/blt5004e64d3579c43f/blta2439b4043d4370f/61e0ac8de25675203f22daad/pere_et_fils.jpg?auto=webp&width=1280&disable=upscale&dpr=2" 
                alt="mon super image"
                data-aos="zoom-in"
                data-aos-duration="3000"
            >
                
        </div>
        <div 
            class="groupe-contenu">
            <div 
                class="titre"
                data-aos="fade-up"
                data-aos-easing="linear"
                data-aos-duration="1500"
                >
                
                Happy Meal<sup>TM</sup>: variez les menus et les plaisirs
            </div>
            <div 
                class="texte"
                data-aos="fade-up"
                data-aos-easing="linear"
                data-aos-duration="9500"
                
                >
                Nous avons pensé le Happy Meal<sup>TM</sup> pour vous
                proposer le maximum de possibilités de menus que 
                vous pourrez composer vous-même. Jusqu'à 1404 combinaisons
                de menus sont possibles ! Grâce à cette variété, votre
                enfant peut trouver son bonheur tout en couvrant ses
                besoins énérgetiques. Le repas est un moment de 
                convivialité et de plaisirs à partager.
            </div>

            <button 
                class="bouton"
                data-aos="fade-up"
                data-aos-easing="linear"
                data-aos-duration="1500"
                >
                tout savoir sur le Happy Meal<sup>TM</sup>
            </button>
        </div>
        
    </div>
    
</div>


<div class="mon-image">
    <img 
        class="fond-kely" 
        src="https://eu-images.contentstack.com/v3/assets/blt5004e64d3579c43f/blt9f7a5c990fb5a24b/608bccb8cd7f2b0cc4fb5914/fwkid.jpg?auto=webp&width=1280&disable=upscale" 
        alt="mon image" 
        
        data-aos="fade-down"
        data-aos-easing="linear"
        data-aos-duration="1500"
        
        >

</div>

<div class="groupe-be">
    <div class="groupe-partager-un-moment">
        <div class="titre">
            Partager un moment de lecture et d'aventures
        </div>

        <div class="texte">
            Depuis 2015, vous pouvez faire le choix d'un livre à la place du jouet dans le Happy Meal™. Connaissez-vous "Les Voyages de Gulliver" ou l'expression "il pleut des cordes"?
            Pour le savoir, venez vivre de belles histoires dans nos restaurants.
            Et, chaque premier mercredi du mois, votre enfant reçoit gratuitement un album jeunesse en plus de son jouet ou de son livre.
        </div>
    </div>

    <div class="groupe-les-livres">
        <div class="gauche commun">
            <div class="image">
                <img src="https://eu-images.contentstack.com/v3/assets/blt5004e64d3579c43f/blt0cda7634b3c0519b/61b74675178c6466b3b8c7b9/image_vcourte_livres_happy_meal.jpg?auto=webp&width=1280&disable=upscale&dpr=2" alt="image famille">
            </div>
            <div class="titre">
                Les livres Happy Meal<sup>TM</sup>
            </div>
            <div class="texte">
                Transmettre le plaisir de la lecture et de se laisser porter par son imagination, telle est notre ambition. Depuis 2015, nous nous engageons en faveur de la lecture dans le Happy Meal™ ! Grâce à nos partenariats avec Hachette Jeunesse, le Centre national du livre et des écrivains reconnus, nous proposons aux enfants de choisir entre un livre et un jouet. Depuis, ce sont plus de 85 millions de livres qui ont été distribués. 
            </div>
            <button class="bouton">
                Notre engagement pour la lecture >
            </button>

        </div>

        <div class="droite commun">
            <div class="image">
                <img src="https://eu-images.contentstack.com/v3/assets/blt5004e64d3579c43f/blt1c79fd274ce9c2f9/61e42e03a91f4f3f37eb632c/EMOTEEV_1200x627_montgoliere_resizedbis-pour-vcourte.jpg?auto=webp&width=1280&disable=upscale&dpr=2" alt="image famille">
            </div>
            <div class="titre">
                Les mercredis à lire
            </div>
            <div class="texte">
                Transmettre le plaisir de la lecture et de se laisser porter par son imagination, telle est notre ambition. Depuis 2015, nous nous engageons en faveur de la lecture dans le Happy Meal™ ! Grâce à nos partenariats avec Hachette Jeunesse, le Centre national du livre et des écrivains reconnus, nous proposons aux enfants de choisir entre un livre et un jouet. Depuis, ce sont plus de 85 millions de livres qui ont été distribués. 
            </div>
            <button class="bouton">
                Notre engagement pour la lecture >
            </button>
        </div>
    </div>
</div>


<div class="statistique">
    <div class="titre">
        85 millions
    </div>
    <div class="texte">
        de livres distribués depuis 2015.
    </div>
</div>

<div class="groupe-be">
    <div class="groupe-a-vous-de-jouer">
        <div class="titre">
            À vous de jouer !
        </div>

        <div class="droite">
            <p>
                Nous sommes convaincus que les enfants apprennent mieux lorsqu'ils mobilisent leur imagination grâce au jeu.
                Nous leur proposons différentes façons de créer et d'apprendre tout en se divertissant : ateliers créatifs proposés toute l'année dans nos restaurants, jeux interactifs sur notre appli Happy Meal™, kits de coloriages. Tout pour le plaisir de jouer et de créer ensemble...
            </p>
            <button class="bouton">
                Télécharger notre App Happy<sup>TM</sup> >
            </button>
        </div>
    </div>

    <div class="groupe-nos-engagements-jouets">
        <div class="gauche">
            <img 
                src="https://eu-images.contentstack.com/v3/assets/blt5004e64d3579c43f/bltcfa85b59540b0a51/61e2a84aa91f4f3f37eb632a/fin_des_jouets_en_plastique.png.jpg?auto=webp&width=1280&disable=upscale&dpr=2" 
                alt="mon super image"
                data-aos="zoom-in-up"
                data-aos-easing="linear"
                data-aos-duration="3500"
                
                >
        </div>

        <div class="droite">
            <div 
                class="titre"
                data-aos="fade-up"
                data-aos-easing="linear"
                data-aos-duration="1500"
                >
                Nos engagements jouets
            </div>
            <p 
                data-aos="fade-up"
                data-aos-easing="linear"
                data-aos-duration="1500"
            >
                    Après plusieurs années de recherches et de developpement
                    , nous supprimons du Happy Meal<sup>TM</sup> les jouets
                    fabriqués à partir de matière plastique, et proposons
                    désormais des jouets en matériaux durables, plus respectueux de 
                    l'environnement. Une stratégie de réduction du plastique amorcée
                    depuis fin 2015 qui prend vie le Happy Meal<sup>TM</sup>
            </p>
            <button 
                class="bouton"
                data-aos="fade-up"
                data-aos-easing="linear"
                data-aos-duration="1500"
                >
                Nos engagement jouets
            </button>
        </div>
    </div>
</div>

<div class="faire-un-don">

    <div class="image">
        <img src="https://eu-images.contentstack.com/v3/assets/blt5004e64d3579c43f/bltcf68c6efe4893003/609167b5cd7f2b0cc4fb5e20/fondation-ronald-mcdonalds.png?auto=webp&width=1280&disable=upscale&dpr=2" alt="faire un don">
    </div>

    <div class="groupe-fondation">
        <div class="titre">
            Fondation Ronald McDonald
        </div>
        <div class="texte">
            Nous vous invitons également à découvrir la Fondation Ronald McDonald qui aide les familles des enfants hospitalisés. 
        </div>
        <div class="bouton">
            <button class="bouton1">
                Faire un don
            </button>
        </div>
        

        <div class="bouton">
            <button class="bouton2">
                Découvrir la Fondation
            </button>
        </div>
    </div>

</div>

<div class="groupe-be-farany">
    <div class="groupe-decouvrez-nos-menu">
        <div class="titre">
            Découvrez nos menus Happy Meal<sup>TM</sup>
        </div>
        <div class="texte">
            C'est le moment de découvrir nos nouveaux jeux et livres en famille ! 
        </div>
        <button class="bouton">
            En savoir plus
        </button>
    </div>
    <div class="image">
        <img src="https://eu-images.contentstack.com/v3/assets/blt5004e64d3579c43f/bltd4f0603923c61c25/6092a2fb441d9c0ccf6527b2/HappyMeal.png?auto=webp&width=1280&disable=upscale" alt="mon image">
    </div>
</div>

