<div class="groupe">
    <div class="mcdonald_france">
        <div class="titre">McDonald’s France</div>
        <p>Notre histoire</p>
        <p>Nos dirigeants</p>
        <p>Nos chiffres</p>
        <p>Espace presse</p>
    </div>
    <div class="pour_aller_plus_loin">
        <div class="titre">Pour aller plus loin</div>
        <p>Notre rapport d'impact 2020</p>
        <p>Les autres Big Questions</p>
        <p>Au coeur d'un restaurant</p>
    </div>
    <div class="nos_services">
        <div class="titre">Nos services</div>
        <p>Trouver un restaurant</p>
        <p>L’application McDo+</p>
        <p>Le programme de fidélité</p>
        <p>La livraison à domicile</p>
        <p>Le Click & Collect</p>
        <p>Les espaces McCafé</p>        
    </div>
    <div class="recrutement">
        <div class="titre">Recrutement</div>
        <p>Rejoignez les équipes McDo</p>
        <p>Travailler en restaurant</p>
        <p>Travailler au siège</p>
        <p>Devenir franchisé</p>
    </div>
    <div class="aide_en_ligne">
        <div class="titre">Aide en ligne</div>
        <p>FAQ</p>
        <p>Contacts</p>
        <p>Votre avis</p>
        <p>Accessibilité</p>
    </div>
    <div class="suivez_nous">
        <div class="titre">Suivez-nous</div>
        <p>Facebook</p>
        <p>Instagram</p>
        <p> Twitter</p>
        <p>Linkedin</p>
    </div>
</div>