<div class="groupe">

    <h5 class="titre">Connectez-vous avec vos identifiants</h5>

    <form action="">
        <div class="email controler-form">
            <label for="email">Mon adresse email</label>
            <input type="email">
        </div>
        <div class="password controler-form">
            <label for="password">Mon mot de passe</label>
            <input type="password">
        </div>
        <div class="mot_de_passe_oublie">
            <a href="">mot de passe oublié ?</a>
        </div>
        <div class="rester_connecter">
            <input type="checkbox" name="rester_connecter" id="">
            <label for="rester_connecter">Rester connecté(e)</label>
        </div>
        <button class="btn" type="submit">JE ME CONNECTE</button>
    </form>

    <div class="pas_de_compte">
        <a href="">Pas de compte ?</a>
    </div>

    <div class="information">
        <div class="protection">
            <a href="">Protection des données personnelles</a>
        </div>

        <div class="groupe">
            <div class=""><a href="">Cookies</a></div>
            <div class=""><a href="">Gérer mescookies</a></div>
            
        </div>
    </div>

</div>