<div *ngIf="images && images.length > 0" class="carousel-container">
    <img 
        *ngFor="let image of images; let i=index" 
        [src]="image.imageSrc" 
        [alt]="image.imageAlt"
        [ngClass]="{'image-active': selectedIndex === i}"  
        
    >

    <div 
        *ngIf="indicators"    
        class="carousel-dot-container"
    >
        <span 
            *ngFor="let dot of images; let i=index"
            class="dot"
            [ngClass]="{'active': selectedIndex===i}"
            (click)="selectImage(i)"
        >
        </span>

    </div>

    <button *ngIf="controls" class="btn-carousel btn-prev">
        <i 
            class="fas fa-angle-left icon-carousel icon-prev"
            (click)="onPrevClick()"
        ></i>
    </button>

    <button *ngIf="controls" class="btn-carousel btn-next">
        <i 
            class="fas fa-angle-right icon-carousel icon-next"
            (click)="onNextClick()"
        ></i>
    </button>

</div>

<div  class="footer-carousel">
    <div [ngClass]="{'active-footer-carousel footer-item ': selectedIndex === 0}">
        Cadeau Ciné
    </div>
    <div  [ngClass]="{'active-footer-carousel footer-item ': selectedIndex === 1}" >
        Du champ au restaurant
    </div>
    <div [ngClass]="{'active-footer-carousel footer-item ': selectedIndex === 2}" >
        280TM
    </div>
    <div [ngClass]="{'active-footer-carousel footer-item ': selectedIndex === 3}">
        Sundae
    </div>
    <div [ngClass]="{'active-footer-carousel footer-item ': selectedIndex === 4}">
        Happy Meal
    </div>
    <div [ngClass]="{'active-footer-carousel footer-item ': selectedIndex === 5}">
        Nos agriculteurs
    </div>
</div>